html, body {
    overflow: hidden; width: 100%; height: 100%; margin: 0; padding: 0;
    font-family: 'Fredoka One', cursive; background: #222; user-select: none;
}
#renderCanvas { width: 100%; height: 100%; touch-action: none; outline: none; }

#crosshair {
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    color: white; font-size: 30px; pointer-events: none; opacity: 0.8; text-shadow: 2px 2px 0 #000;
}

/* Barra de herramientas */
#toolbar {
    position: absolute; bottom: 20px; left: 50%; transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 20px; border-radius: 15px;
    display: flex; gap: 10px; align-items: center; border: 3px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.color-slot {
    width: 40px; height: 40px; border-radius: 8px; border: 3px solid rgba(0,0,0,0.1);
    cursor: pointer; display: flex; justify-content: center; align-items: center;
    color: rgba(0,0,0,0.5); font-size: 18px; transition: transform 0.1s;
}
.color-slot:hover { transform: scale(1.1); }
.color-slot.active { border-color: #333; transform: scale(1.1); box-shadow: 0 0 10px rgba(255,255,255,0.8);}

.info-text { margin-left: 15px; color: #333; font-size: 14px; white-space: nowrap;}

#controls-hint {
    position: absolute; top: 20px; left: 20px;
    color: rgba(255,255,255,0.9); font-size: 16px; text-shadow: 2px 2px 0 #000;
}